<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Eat!{{else}}Not Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Erase burger!</button>
</li>
