<li>
	{{burger_name}}

	<button class="change-notdevoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if notdevour}}Eat!{{else}}Prepare again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Erase burger!</button>
</li>
