<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat!{{else}}Not Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Erase burger!</button>
</li>
